.display-area {
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding: .5rem;
    display: flex;
    flex-flow: column;
}

.chart-filter-area {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.chart-filter {
    margin: auto;
    max-width: 600px;
    width: 100%;
}

.filter-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

    .filter-item > div, select {
        padding: .5rem 0;
        margin: 5px 0;
        border: none;
        outline: none;
    }

    .filter-item > select {
        border-bottom: solid 1px black;
        width: 100%;
    }

    .filter-item > div {
        width: 100px;
        min-width: 100px;
    }

.content-area {
    flex: 1;
    overflow-y: auto;
    padding-top: .5rem;
}
