img {
    width: 100px;
    object-fit: contain;
}

.main-area {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-area {
    flex-grow: 1;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: .5rem;
}

.chart-content {
    min-width: 350px;
    overflow-x: auto;
}

.w-4 {
    width: 24.7%;
}

.w-2 {
    width: 49.7%;
}

.chart {
    width: 100%;
    position: relative;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1366px) {
    .chart-content {
        width: 99.9% !important;
    }
}
