<div class="main-area">
    @if (ResultRoot is not null)
    {
        <div class="chart-area">
            <div class="chart-content">
                <div>Graph by competition in @_member</div>
                <div class="chart">
                    <Chart Config="_barConfig1"></Chart>
                </div>
            </div>
            <div class="chart-content">
                <div>Graph by skill in @_member</div>
                <div class="chart">
                    <Chart Config="_barConfig2"></Chart>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="loading">
            <div class="text-center">
                <div class="spinner-border"></div>
                <div>Getting data...</div>
            </div>
        </div>
    }
</div>

@code {
    private Root? _resultRoot;
    [Parameter]
    public Root? ResultRoot { get; set; }

    private BarConfig _barConfig1 = null!;
    private BarConfig _barConfig2 = null!;
    private string _member = "Japan";

    protected override void OnParametersSet()
    {
        if (_resultRoot == ResultRoot) return;
        _resultRoot = ResultRoot;
    }

}
