@inject HttpClient _http
<div class="main-area">
    @if (_resultRoot?.Results is not null)
    {

    }
    else
    {
        <div class="text-center">
            <div class="loading spinner-border"></div>
            <div>Getting data...</div>
        </div>
    }
</div>

@code {
    private Root _resultRoot = new Root();

    protected override async Task OnInitializedAsync()
    {
        _resultRoot = await _http.GetFromJsonAsync<Root>("?offset=0&limit=30000&sort=event_desc&l=en-US") ?? new Root();
    }
}
