img {
    width: 100px;
    object-fit: contain;
}

.main-area {
    flex-flow: column;
    display: flex;
    height: 100%;
    justify-content: center;
}

.chart-area {
    flex-grow: 1;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart-filter-area {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.chart-content {
    max-width: 1700px;
    width: 50%;
    min-width: 350px;
    padding: .5rem;
}

.chart {
    height: 100%;
    width: 100%;
    position: relative;
}

.chart-filter {
    margin: auto;
    max-width: 600px;
    width: 100%;
    padding: .5rem;
}

.filter-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

    .filter-item > div, select {
        padding: .5rem 0;
        margin: 5px 0;
        border: none;
        outline: none;
    }

    .filter-item > select {
        border-bottom: solid 1px black;
        width: 100%;
    }

    .filter-item > div {
        width: 100px;
        min-width: 100px;
    }

.loading {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1366px) {
    .chart-content {
        width: 100%;
        padding: .5rem;
    }
}
