.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #3B9BB0;
    color: #C9E7ED;
}

.header-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    margin: 5px auto 5px 5px;
}

.btn-menu {
    background-color: #3B9BB0;
    color: #C9E7ED;
    outline: none;
    border: none;
    margin-right: 5px;
}
